body{
	height: 1px;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	
	
}
h1{
	color: darkgreen;
	font-size: larger;
}
h2{
	font-size: medium;
}
h4{
	font-size: xx-large;
}

footer{

	margin: 0 auto;
	width: 1350px;
	height: 360px;
	background-color:black;
}


